
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button type="button" class="btn"  routerLink="/map">CovidInfo</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/map" href="#"> Map <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/gql" href="">General Covid Situation USA</a>
        </li>
      </ul>
    </div>
  </nav>
  
    <nav class="navbar navbar-light descripcion">
        <div class="container-fluid">
            <span class="navbar-brand mb-5 h1"></span>
        </div>
    </nav>

    <div class="descripcion text-center">
        <h2>REPORTE DE COVID-19</h2>
        <h2 class="mx-5 my-5">
            El objetivo de este reporte es poder visualizar los casos de COVID-19 actualizados día a día en Estados
            Unidos.
            El uso de dicho reporte solo es informativo.
        </h2>
        <br>

    </div>

    <!-- div que contiene mapa -->
    <div id="mapa"></div>


    <!-- div que contiene el login-->
    <div id="login"></div>

    <!-- div que contiene el footer -->
    <div id="footer">
        <br>
        <br>
        <footer class="footer">
            <div class="content text-center">
                <h6>
                    © Copyright ReporteCovid 2021.
                </h6>
                <p> Todos los derechos reservados </p>
                <p> Desarrollado por Joaquín Vila, Carlos Vallejo y Alejandra Robles</p>
            </div>
        </footer>
        <!-- Fin de footer -->

    </div>

